<div align="center" class="container">
<div class="join">
    are you interested in joining team splash?
</div>
<div class="fortechs">
    (this is for pool technicians and service providers)
</div>

<div class="listpositives">
    <img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> build your own schedule
    <br><img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> service pools local to your area
    <br><img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> guaranteed payment - don't worry about clients not paying
</div>

<div class="contactdesc">
    <br>complete the form below & we will contact you about joining team splash.
</div>
<br><mat-form-field appearance="outline">
  <input matInput placeholder="Name">
</mat-form-field>
<br><mat-form-field appearance="outline">
  <input matInput placeholder="Service Area">
</mat-form-field>
<br><mat-form-field appearance="outline">
  <input matInput placeholder="Email">
</mat-form-field>
<br><mat-form-field appearance="outline">
    <input matInput placeholder="Phone Number">
</mat-form-field>
<br><mat-form-field appearance="outline">
    <input matInput placeholder="Are you a CPO?">
</mat-form-field>
<br>
<button mat-button routerLink="/">send</button>
<br>

</div>