<div class="container">
    <div class="section">
        <div class="title">
            leave your pool needs to us!
            <div class="subtitle">we bring professional pool service to you.</div>
            <div class="pulse-animation-wrapper pulse-animation">
                <button mat-button class="background-transparent" routerLink="/contact">take a splash!</button>
            </div>
        </div>
    </div>
    <div class="section white-background">
        <div class="easyas">
            it's as easy as:
        </div>
        <div class="easylist">   
            <div class="numbers">1)</div><div class="selectpackage"> selecting a package</div> that meets your needs.
            <br><div class="numbers">2)</div> picking a <div class="selectpackage"> preferred day/time</div>.
            <br><div class="numbers">3)</div><div class="selectpackage"> confirming your appointment</div> with our scheduling specialist.
        </div>
    </div>
    <div class="section pool">
        <div class="checkservices">
            <div class="pulse-animation-wrapper pulse-animation">
                <button class="background-transparent" mat-button routerLink="/services">explore services</button>
            </div>
        </div>
    </div>
    <div class="section white-background">
        <div class="setsapart">
            <br>
            team splash - what sets us apart:
        </div>
        <div class="benefits">
            <img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> simple scheduling & package options
            <br><img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> our techs are cpo certified
            <br><img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> safety is our standard
            <br><img src="assets/img/droplet.svg" class="droplet" alt="water droplet"> best prices in your area
            <br>
            <button class="button3" mat-button routerLink="/jointeam">want to join<br>the team?</button>
        </div>
    </div>
    <div class="section">
        <div class="callnow">
            call us now for more information! 1-844-6SPLASH
        </div>
    </div>
</div>